USE [master]
GO
/****** Object:  Database [LibraryDB]    Script Date: 18.12.2025 18:59:43 ******/
CREATE DATABASE [LibraryDB]
GO
USE [LibraryDB]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 18.12.2025 18:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[IdAuthors] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [nvarchar](200) NULL,
	[DateOfBirth] [date] NULL,
	[Country] [nvarchar](max) NULL,
 CONSTRAINT [PK_Authors] PRIMARY KEY CLUSTERED 
(
	[IdAuthors] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookAuthors]    Script Date: 18.12.2025 18:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookAuthors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdBooks] [int] NULL,
	[IdAuthors] [int] NULL,
 CONSTRAINT [PK_BookAuthors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookIssues]    Script Date: 18.12.2025 18:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookIssues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdBooks] [int] NULL,
	[IdReaders] [int] NULL,
	[IssuesDate] [date] NULL,
	[PlannedReturnDate] [date] NULL,
	[ActualReturnDate] [nchar](10) NULL,
 CONSTRAINT [PK_BookIssues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 18.12.2025 18:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[IdBooks] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[YearOfPublicatin] [int] NULL,
	[ISBN] [nvarchar](50) NULL,
	[Pages] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[Genre] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[IdAuthors] [int] NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[IdBooks] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Readers]    Script Date: 18.12.2025 18:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Readers](
	[IdReaders] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [nvarchar](200) NULL,
	[CardNumber] [nvarchar](100) NULL,
	[RegistrationDate] [date] NULL,
	[PhoneNumber] [nvarchar](12) NULL,
 CONSTRAINT [PK_Readers] PRIMARY KEY CLUSTERED 
(
	[IdReaders] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([IdAuthors], [FIO], [DateOfBirth], [Country]) VALUES (1, N'Лев Толстой', CAST(N'1828-09-09' AS Date), N'Россия')
INSERT [dbo].[Authors] ([IdAuthors], [FIO], [DateOfBirth], [Country]) VALUES (2, N'Фёдор Достоевский', CAST(N'1821-11-11' AS Date), N'Россия')
INSERT [dbo].[Authors] ([IdAuthors], [FIO], [DateOfBirth], [Country]) VALUES (3, N'Антон Чехов', CAST(N'1860-01-29' AS Date), N'Россия')
SET IDENTITY_INSERT [dbo].[Authors] OFF
GO
SET IDENTITY_INSERT [dbo].[BookAuthors] ON 

INSERT [dbo].[BookAuthors] ([Id], [IdBooks], [IdAuthors]) VALUES (1, 1, 1)
INSERT [dbo].[BookAuthors] ([Id], [IdBooks], [IdAuthors]) VALUES (2, 2, 2)
INSERT [dbo].[BookAuthors] ([Id], [IdBooks], [IdAuthors]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[BookAuthors] OFF
GO
SET IDENTITY_INSERT [dbo].[BookIssues] ON 

INSERT [dbo].[BookIssues] ([Id], [IdBooks], [IdReaders], [IssuesDate], [PlannedReturnDate], [ActualReturnDate]) VALUES (1, 2, 2, CAST(N'2025-12-01' AS Date), CAST(N'2026-01-01' AS Date), NULL)
INSERT [dbo].[BookIssues] ([Id], [IdBooks], [IdReaders], [IssuesDate], [PlannedReturnDate], [ActualReturnDate]) VALUES (2, 5, 5, CAST(N'2025-11-25' AS Date), CAST(N'2026-01-25' AS Date), NULL)
INSERT [dbo].[BookIssues] ([Id], [IdBooks], [IdReaders], [IssuesDate], [PlannedReturnDate], [ActualReturnDate]) VALUES (3, 9, 9, CAST(N'2025-12-10' AS Date), CAST(N'2026-01-10' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[BookIssues] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([IdBooks], [Name], [YearOfPublicatin], [ISBN], [Pages], [Description], [Genre], [Status], [IdAuthors]) VALUES (1, N'Война и мир', 1869, N'978-5-17-102694-0', 1200, N'Эпопея, рассказывающая о судьбах людей во времена Наполеоновских войн.', N'Роман', N'1', 1)
INSERT [dbo].[Books] ([IdBooks], [Name], [YearOfPublicatin], [ISBN], [Pages], [Description], [Genre], [Status], [IdAuthors]) VALUES (2, N'Преступление и наказание', 1866, N'978-5-17-100268-0', 600, N'Роман о внутренней борьбе преступника и его душевных метаниях.', N'Роман', N'2', 2)
INSERT [dbo].[Books] ([IdBooks], [Name], [YearOfPublicatin], [ISBN], [Pages], [Description], [Genre], [Status], [IdAuthors]) VALUES (3, N'Чайка', 1896, N'978-5-426-06672-6', 120, N'Пьеса о любви и творческом процессе, затрагивающая проблемы искусства.', N'Драма', N'3', 3)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Readers] ON 

INSERT [dbo].[Readers] ([IdReaders], [FIO], [CardNumber], [RegistrationDate], [PhoneNumber]) VALUES (1, N'Иванов Сергей Петрович', N'C-1001', CAST(N'2020-01-15' AS Date), N'7900111111')
INSERT [dbo].[Readers] ([IdReaders], [FIO], [CardNumber], [RegistrationDate], [PhoneNumber]) VALUES (2, N'Смирнова Анна Игоревна', N'C-1002', CAST(N'2021-06-20' AS Date), N'7900222222')
INSERT [dbo].[Readers] ([IdReaders], [FIO], [CardNumber], [RegistrationDate], [PhoneNumber]) VALUES (3, N'Кузнецов Дмитрий Андреевич', N'C-1003', CAST(N'2019-09-05' AS Date), N'7900333333')
SET IDENTITY_INSERT [dbo].[Readers] OFF
GO
ALTER TABLE [dbo].[BookAuthors]  WITH CHECK ADD  CONSTRAINT [FK_BookAuthors_Authors] FOREIGN KEY([IdAuthors])
REFERENCES [dbo].[Authors] ([IdAuthors])
GO
ALTER TABLE [dbo].[BookAuthors] CHECK CONSTRAINT [FK_BookAuthors_Authors]
GO
ALTER TABLE [dbo].[BookAuthors]  WITH CHECK ADD  CONSTRAINT [FK_BookAuthors_Books] FOREIGN KEY([IdBooks])
REFERENCES [dbo].[Books] ([IdBooks])
GO
ALTER TABLE [dbo].[BookAuthors] CHECK CONSTRAINT [FK_BookAuthors_Books]
GO
ALTER TABLE [dbo].[BookIssues]  WITH CHECK ADD  CONSTRAINT [FK_BookIssues_Books] FOREIGN KEY([IdBooks])
REFERENCES [dbo].[Books] ([IdBooks])
GO
ALTER TABLE [dbo].[BookIssues] CHECK CONSTRAINT [FK_BookIssues_Books]
GO
ALTER TABLE [dbo].[BookIssues]  WITH CHECK ADD  CONSTRAINT [FK_BookIssues_Readers] FOREIGN KEY([IdReaders])
REFERENCES [dbo].[Readers] ([IdReaders])
GO
ALTER TABLE [dbo].[BookIssues] CHECK CONSTRAINT [FK_BookIssues_Readers]
GO
USE [master]
GO
